.Header {
    height: 60px;
    color: darkblue;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0kF6-EIQrBZP2AbpJsS8k0FffABBkKDPodXcOCPtDz8Ggsu3jsHAXNklzOndwDXbejgk&usqp=CAU');
}